.linkButton {
    color: var(--dark-text-color);
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    text-decoration: none;
    vertical-align: middle;
    transition: all 250ms ease-in-out;
}

.linkButton:hover {
    background-color: var(--dark-highlight-color);
}

.right {
    text-align: end;
    padding-right: .5em;
    transition: all 250ms ease-in;
    
}

.right:hover {
    padding-right: 2.5em;
}

.left {
    padding-left: .75em;
    transition: all 250ms ease-in
}

.left:hover {
    padding-left: 2em;
}

/* Mobile Device Landscape */
@media only screen and (max-width: 480px) {
    .linkButton {
        width: 4.7em;
        max-width: 4.7em;
        padding-left: .5em;
        font-size: 1em;
        background-color: var(--dark-base-color);
        position: absolute;
        top: calc(var(--nav-height) - 2em);
        left: 0;
    }
}

/* Mobile Device Portrait */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Desktop */
@media only screen and (min-width: 769px) {

}