.greetingPage {
    color: var(--dark-text-color);
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.tagEmbellishment {
    position: absolute;
    display: none;
}

.greetingHeader {
    font-size: 2.5em;
    position: absolute;
    top: 120px ;
    left: calc(var(--nav-width) + 2vw);
}

.greetingBody {
    font-size: 2em;
    position: absolute;
    top: 165px;
    left: calc(var(--nav-width) + 2vw);
    display: none;
}

/* Mobile Device Landscape */
@media only screen and (max-width: 480px) {
    /* .greetingPage {
        color: var(--dark-text-color);
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    } */
    
    /* .tagEmbellishment {
        position: absolute;
        display: none;
    } */
    
    .greetingHeader {
        font-size: 2.5em;
        position: absolute;
        top: 120px ;
        left: 2vw;
    }
    
    /* .greetingBody {
        font-size: 2em;
        position: absolute;
        top: 165px;
        left: calc(var(--nav-width) + 2vw);
        display: none;
    } */
    
}

/* Mobile Device Portrait */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Desktop */
@media only screen and (min-width: 769px) {

}