.elementDropIn {
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
}

.dropInContainer {
    width: 1px;
    height: 1px;
    margin: 0;
    position: absolute;
    overflow: hidden;
}
