#navbar {
    background-color: var(--dark-base-color);
    color: var(--dark-text-color);
    width: 170px;
    max-width: 170px;
    min-width: var(--nav-width);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.logoBox {
    color: var(--dark-text-color);
    display: flex;
    font-size: 24px;
    text-decoration: none;
}

.description {
    color: var(--dark-highlight-color);
    text-align: center;
    margin-bottom: 20px;
}

.navbarTitle {
    text-orientation: upright;
    writing-mode: vertical-lr;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: -3px;
}

.foxHeadLogo {
    max-height: 120px;
    margin-top: 10px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.dropdown {
    display: none;
}

.contactLogos {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.cLogo {
    max-height: 30px;
}

#logoBoxButton {
    display: none;
}

#foxHeadButton {
    display: none;
}

#foxHeadButtonBackground {
    display: none;
}

/* Mobile Device Landscape */
@media only screen and (max-width: 480px) {
    #navbar {
        min-width: 100vw;
        max-width: 100vw;
        min-height: 3em;
        max-height: var(--nav-height);

    }

    .logoBox {
        max-width: fit-content;
        color: var(--dark-text-color);
        display: flex;
        flex-direction: row-reverse;
        font-size: 24px;
        text-decoration: none;
    }

    .navbarTitle {
        max-height: 1.1em;
        text-orientation:unset;
        writing-mode:unset;
        margin-top: 0px;
        margin-bottom: 13px;
        margin-left: 7px;
        margin-right: 0px;
        font-size: 1.25em;
        align-self: center;
    }

    .description {
        color: var(--dark-highlight-color);
        text-align: center;
        margin-bottom: 0px;
        position: absolute;
        left: 4.7em;
        top: 2.1em;
        font-size: 1em;
    }

    .foxHeadLogo {
        max-height: 1.6em;
        max-width: 1.6em;
        margin-top: 5px;
        margin-left: 5px;
        justify-self: flex-start;
    }

    .navLinks {
        display: none;
    }

    .dropdown {
        max-height: 1.6em;
        max-width: 1.6em;
        margin-top: 5px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        z-index: -1;
    }

    .contactLogos {
        display: none;
    }

    .clogo {

    }

    #logoBoxLink {
        display: none;
    }

    #logoBoxButton {
        background-color: var(--dark-base-color);
        display: flex;
    }

    #foxHead {
        display: none;
    }

    #foxHeadButton {
        display: inline;
        z-index: 2;
    }
    
    #foxHeadButtonBackground {
        display: inline;
        position: absolute;
        top: 0px;
        left: 0;
        opacity: 10%;
    }
}

/* Mobile Device Portrait */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Desktop */
@media only screen and (min-width: 769px) {

}