:root {
    --dark-base-color: #14181b;
    --dark-body-color: #192026;
    --dark-highlight-color: #324b5f;
    --dark-text-color: #ffffff;
    --nav-width: 170px;
    --nav-height: 3em;
    --page-width: 86.5vw;

    font-family: Geneva, Arial, Tahoma, Helvetica, sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: var(--dark-body-color);
    display: flex;
}